@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    header {
        padding: 20px 0;
    }
    /* 
    .hero {
        position: relative;
    }

    .hero picture {

        position: absolute;
        top: 0;
        left: 0;
    } */

    .hero h1 {
        font-size: 3.5em;
    }

    .hero .container {
        position: absolute;
    }

    .event-cards {
        display: flex;
        flex-wrap: nowrap;
        gap: 25px;
    }

    .event-card {
        width: 30%;
    }

    .weather {
        max-width: 600px;
        margin: auto;
    }

    .spotlights {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .spotlight-item {
        width: 30%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 20px;
    }

    .footer-middle {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .footer-bottom ul {
        display: flex;
        gap: 20px;
    }
}
