@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    header {
        padding: 20px 0;
    }

    .hero {
        padding: 120px 0;
    }

    .hero h1 {
        font-size: 3.5em;
    }

    .event-cards {
        display: flex;
        flex-wrap: nowrap;
        gap: 25px;
    }

    .event-card {
        width: 30%;
    }
}