@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #032064;
    padding: 1em 0;
    color: white;
    display: flex;
    justify-content: center;

}

header img {
    border-radius: 10%;
    width: 100px;
    height: auto;
    margin-right: 2em
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 2em;
    font-size: 1.5rem;
}

nav {
    background-color: #39031a;
    color: white;
    align-items: center;
    text-align: center;
}





nav a {
    color: white;
    text-decoration: none;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* Stack links vertically */
    gap: 10px;
    /* Space between links */
}


main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
}

main h2 {
    text-align: center;
}


.card {
    background-color: #ecf0f1;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    text-align: center;
    background-color: #032064;
    color: white;
    padding: 1em 0;
}

footer p {
    margin: 0.5em 0;
}

.flag {
    display: inline-block;
    width: 20px;
    height: 12px;
    background-size: cover;
    margin-left: 5px;
    vertical-align: middle;
}