body {
    line-height: 1.3;
    background-color: rgb(110, 116, 128);
}

header {
    background: goldenrod;
    grid-column: 1/3;
}

nav {
    grid-column: 1 / 3;
    background: gray;
    padding: 1rem;
  }

  main {
    background: rgb(121, 190, 93);
    height: 100%;
    padding: 1rem;
    grid-column: 1 / 3;

  }
  
   
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
  }
